body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.gradient-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  z-index: -1;
}

.navbar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  font-size: large;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.navbar a:hover {
  color: yellow;
  transition: color 1s ease;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.middle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;          /* At least full screen height */
  width: 100%;
}

.company-logo {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;    /* Centers image vertically */
  justify-content: center; /* Centers image horizontally */
  margin-bottom: 20px;
}

.company-logo img {
  max-width: 100%;
  max-height: 100%;
}
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 20px;
  text-align: left;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  width: 100%;
  font-size: large;
  font-weight: bold;
}
