/* Reset */
* {
  margin: 0;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(28, 28, 28);
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.logo {
  font-size: xx-large;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  gap: 5vw;
}

.nav-links a {
  font-size: larger;
  font-weight: bold;
  color: rgb(160, 160, 160);
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.nav-links a:hover {
  color: white;
}

.request {
  color: rgb(221, 221, 0);
  font-size: larger;
  font-weight: bold;
  border: 1px solid rgb(221, 221, 0);
  padding: 15px 30px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.5s ease-in-out,
              border 0.5s ease-in-out,
              box-shadow 0.5s ease-in-out;
}

.request:hover {
  color: orange;
  border: 1px solid orange;
  box-shadow: 0 0 1px orange, 0 0 25px rgba(255,165,0,0.5);
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  height: 100vh;  
  padding: 100px;
  background-image: 
    linear-gradient(to bottom, rgba(28,28,28,1), rgba(28, 28, 28,0) 70%, rgba(28, 28, 28,1)),
    url('images/homebgplaceholder.jpg');
}

.home-header {
  margin-bottom: 10%;
}

h1 {
  display: flex;
  margin: 0px 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 80px;
}

h2 {
  display: flex;
  margin: 50px;
  color: rgb(160, 160, 160);
  justify-content: center;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.intro-button {
  background: none;
  font-size: xx-large;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.request-button {
  font-size: xx-large;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}

.intro-video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-video video {
  width: 100%;
  max-width: 1000px;
  height: auto;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 0 0 1px black, 0 0 100px rgba(0, 0, 0, 1);
  display: block;
}